<div class="full-page">
	<div class="content">
		<div class="container">
			<div class="card card-login">
				<div class="card-header">
					<h3 class="pl-2">Facturacion</h3>
				</div>
				<div class="card-body px-4">
					<div class="row">
						<div class="col-lg-6">
							<label for="">Cliente</label>
							<div class="d-flex align-items-center input-group">
								<input type="text" class="form-control" placeholder="Ingresa RFC"
									aria-label="Recipient's username" aria-describedby="button-addon2">
								<div class="input-group-append border-0">
									<button class="btn btn-secondary " type="button"
										id="button-addon2">Buscar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">

				</div>
			</div>
		</div>
	</div>
</div>